@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
@media (max-width: 767px) {
  .regular-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .menu-card {
    margin-bottom: 20px !important;
  }
  .menu {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
}

@media (min-width: 768px) {
  .main-card {
    margin-right: 30px;
  }
  .menu-card {
    height: 518px !important;
    width: 255px !important;
  }
  .menu-card .card-info {
    height: 354px !important;
  }
  .menu-card .avatar {
    margin-top: 35px !important;
    margin-bottom: 40px !important;
  }
  .menu-card .name {
    font-size: 40px !important;
    line-height: 47px !important;
  }
  .menu-card .menu {
    margin-top: 40px !important;
  }
  .menu-card .time {
    margin-top: 20px !important;
  }
  .regular-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .card {
    height: 244px !important;
    width: 255px !important;
  }
  .card-top {
    height: 160px !important;
  }
  .card-body {
    height: 199px !important;
    margin-top: -120px !important;
  }
  .current {
    font-weight: 300;
    font-size: 56px !important;
    line-height: 66px !important;
  }
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  background-color: #0f1424;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.attribution {
  color: #5847eb;
}

main {
  width: 100%;
}

.main-col {
  height: 100%;
}

.menu-card {
  height: 203px;
  border-radius: 15px;
  background-color: #1c1f4a;
}

.menu-card .card-info {
  height: 133px;
  border-radius: 15px;
  margin-bottom: -70px;
  background-color: #5847eb;
}

.menu-card .card-info .avatar {
  width: 68px;
  height: 68px;
  border: 3px solid white;
  border-radius: 50%;
  margin-left: 25px;
}

.menu-card .card-info .report {
  margin-left: 20px;
}

.menu-card .card-info .report h1 {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #bdc1ff;
}

.menu-card .card-info .report .name {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: white;
}

.menu-card .menu {
  height: 203px;
  border-radius: 15px;
  margin: 0 36px;
}

.menu-card .menu .time {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #7536d3;
  cursor: pointer;
}

.menu-card .menu .time.active {
  color: white;
}

.regular-cards {
  gap: 20px;
  margin-top: 0 !important;
}

.card {
  height: 160px;
  border: none;
  border-radius: 15px;
}

.card-top {
  height: 160px;
  background-color: #ff8c66;
  border-radius: 10px;
  background-image: url(/images/icon-work.svg);
  background-repeat: no-repeat;
  background-position: 92% -10px;
}

.card-body {
  height: 122px;
  margin-top: -122px;
  background-color: #1c1f4a;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.card-body .card-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: white;
}

.card-body .current {
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 38px;
  color: white;
}

.card-body .last {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #bdc1ff;
}

.card-body .title {
  width: 100%;
  height: 30px;
}

.dots {
  width: 21px;
  height: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.play .card-top {
  background-image: url(/images/icon-play.svg);
  background-color: #56c2e6;
}

.study .card-top {
  background-image: url(/images/icon-study.svg);
  background-color: #ff5c7c;
}

.exercise .card-top {
  background-image: url(/images/icon-exercise.svg);
  background-color: #4acf81;
}

.social .card-top {
  background-image: url(/images/icon-social.svg);
  background-color: #7536d3;
}

.self-care .card-top {
  background-image: url(/images/icon-self-care.svg);
  background-color: #f1c65b;
}
/*# sourceMappingURL=main.css.map */