@import "../variables";

@media (max-width: 767px) {
  // main card

  .regular-cards {
    display: grid;
    grid-template-columns: 1fr;
  }

  .menu-card {
    margin-bottom: 20px !important;
  }

  .menu {
    justify-content: space-between !important;
  }
}
